* {
}
body {
}
.container {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-areas:
    "logo search search search left-side left-side left-side  "
    "header header header header header header header ";
  grid-template-columns: 1fr 1fr;
}
.header {
  display: flex;
  justify-content: space-between;
  grid-area: header;
  background-color: rgb(255, 255, 255);
  padding-top: 10px;
  margin-left: 30px;
}
.center-items {
  background-color: rgb(255, 255, 255);
  width: 400px;
}
.left-side {
  grid-area: left-side;
  background-color: rgb(255, 255, 255);
  width: 500px;
}
.logo img {
  width: 100px;
  height: 40px;
}
.search-logo img {
  width: 30px;
  height: 30px;
  margin-left: 5px;
}
.icon img {
  width: 18px;
  height: 18px;
}
.header .center-items {
  margin-left: 204px;
  margin-top: -17px;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  border: 2px solid #f0f0f0;
  border-radius: 20px; /* or any other value you prefer */
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1); /* adjust the values to your liking */
  grid-area: search;
}
.search li {
  margin: 0 10px;
}

.right-side {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}
.right-side li {
  margin: 0 10px;
}
.menu {
  width: 77px;
  display: flex;
  border: 2px solid #f0f0f0;
  border-radius: 20px;
  box-shadow: 6px 3px 4px rgba(0, 0, 0, 0.1);
  height: 21px;
  align-items: center;
}
hr {
  color: #eeeeee;
  opacity: 60%;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 65px;
  margin: 0px 10px;
  justify-content: center;
}
.line-cards {
  display: flex;
  justify-content: space-evenly;

  align-items: center;
  flex-direction: column;
}
.line-cards img {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
}
.filters {
  border: 2px solid #f0f0f0;
  border-radius: 20px;
  /*oranyothervalueyouprefer*/
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  /*adjustthevaluestoyourliking*/
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  width: 89px;
  height: 42px;
  margin-top: 3px;
}
.filters img {
  width: 25px;
  height: 20px;
  margin: 10px;
}
.filters span {
  font-size: 13px;
}
span {
  font-size: 12px;
  font-weight: bold;
}
.last-con {
  display: flex;
  margin-top: 20px;
  margin-left: 30px;
  grid-template-columns: repeat(4, 1fr);
  /* flex-direction: column; */
  flex-wrap: wrap;
  width: 100%;
  gap: 20px 7px;
  justify-content: center;
}
.image-last img {
  width: 307px;
  height: 290px;
}
.image-last {
  border: 1px solid #82828254;
  padding: 3px;
}
.city-rate {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.city-rate .city {
  font-weight: bold;
}
.city-rate img {
  width: 14px;
  height: 15px;
  border-radius: 30%;
  -webkit-border-radius: 30%;
  -moz-border-radius: 30%;
  -ms-border-radius: 30%;
  -o-border-radius: 30%;
}
.gray p {
  color: #7f808f;
  margin: 2px;
}
.gray span {
  font-size: 15px;
  color: #7f808f;
}
.last-div span {
  font-size: 15px;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(251, 246, 246);
}
a {
  margin: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
